@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img src="/images/carousel/download.jpeg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carousel/istockphoto-1457433817-612x612.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/images/carousel/pexels-ash-376464.jpg" class="d-block w-100 h-100" alt="Recipes">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Get The Best <span class="text-success">Food</span>From
                    <span class="text-success">The Best Restaurants</span></h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark">Fresh Food</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-wheat-awn text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark">Healthy Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-person-biking text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark">Fastest Delivery</span>
                <p class="py-2">We Promise Delivery Order WithIN 30min</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="mb-3">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todayspecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <div class="card dishcard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/BBQChickenPizzawithCauliflowerCrust5004699695624ce.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Pizza</p>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary p-2">order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-2">
                    <div class="card dishcard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/gelatin_poke_cake2d07.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Cake</p>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary p-2">order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-4 col-lg-2 col-xl-2">
                    <div class="card dishcard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/344130b63.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">StrawBerry</p>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary p-2">order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-4 col-lg-2 col-xl-2">
                    <div class="card dishcard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/4425_MEDIUMc880.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Carrot</p>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary p-2">order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-4 col-lg-2 col-xl-2">
                    <div class="card dishcard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/mare_arepa_vf2cd.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Corn</p>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary p-2">order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-4 col-lg-2 col-xl-2">
                    <div class="card dishcard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/9150866d70.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Grape</p>
                            <div>
                                <button type="button" class="btn btn-sm btn-primary p-2">order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
